<div class="row" ng-show="error">
	<div class="col-lg-12">
		<div class="alert alert-danger" ng-bind="error"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>StartDate</th>
					<th>EndDate</th>
					<th>Source</th>
					<th>Host</th>
					<th>CreationUser</th>
					<th>Owner</th>
					<th>Category</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="a in annotations">
					<td>
						<a ng-href="{{'/?guid=' + a.Id}}">Edit</a>
					</td>
					<td ng-bind="a.StartDate"></td>
					<td ng-bind="a.EndDate"></td>
					<td ng-bind="a.Source"></td>
					<td ng-bind="a.Host"></td>
					<td ng-bind="a.CreationUser"></td>
					<td ng-bind="a.Owner"></td>
					<td ng-bind="a.Category"></td>
					<td ng-bind="a.Message"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>